JWTSignerUtil中ES256签名使用jjwt类库解析失败

### 版本情况

JDK版本：    openjdk_8_201
hutool版本： 5.8.20（请确保最新尝试是否还有问题）

### 问题描述（包括截图）
经排查，jjwt在签名之后，还做了一些其他处理，建议与jjwt保持一致
![image](https://github.com/dromara/hutool/assets/123945001/1bf2fa9a-09c7-4f6b-b222-165cb8e921dc)
![image](https://github.com/dromara/hutool/assets/123945001/37f89f16-d796-4e3e-a57f-2fe3496b0b23)
JWA RFC 7518, Section 3.4：https://datatracker.ietf.org/doc/html/rfc7518#section-3.4

> 5.8.21和 6.0.0-M5修复，感谢~

使用的是jdk17.0.4在5.8.21中看到有这个代码，当algorithmId是ES开头时，例如algorithmId="ES256"，调用JWTSignerUtil.createSigner会提示 Caused by: java.security.NoSuchAlgorithmException: ES256 Signature not available
// issue3205@Github
if(ReUtil.isMatch("ES\\d{3}", algorithmId)){
    return new EllipticCurveJWTSigner(algorithmId, key);
}

如果直接使用new EllipticCurveJWTSigner(AlgorithmUtil.getAlgorithm("ES256"), publicKey);
是没有问题，能正常校验